name: 'Simon Sigurdhsson'
url: https://blog.sigurdhsson.org

timezone: Europe/Stockholm
encoding: utf-8

future: true
permalink: /:categories/:year/:month/:title/

markdown: kramdown
kramdown:
  input: GFM

highlighter: rouge

plugins:
  - jekyll-sitemap

defaults:
  -
    scope:
      path: ''
      type: pages
    values:
      layout: post
      author: 'Simon Sigurdhsson'

exclude:
  - validate.rb
  - LICENSE.md
  - README.md
  - Gemfile
  - Gemfile.lock
  - vendor/
