/* Normalization from http://git.io/normalize */
@import url(normalize.css);
/* Vertical flow, see http://blog.sigurdhsson.org/posts/I-X/on-web-typesetting.html */
@import url(verticalflow.css);
/* Webfonts */
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Basic font definitions */
html, button, input, select, textarea {
    font-family: 'Lora', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #843690;
}
code, kbd, pre, samp {
    font-family: 'Anonymous Pro', monospace, serif;
}
/* Actually styling stuff */
body {
    background: #fff;
    color: black;
    padding: 4em 0;
    overflow: auto;
}
body>header {
    float: left;
    width: 12em;
    padding: 1em 2em 0 1em;
}
body>header h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.276em;
    line-height: 1.1755;
    margin-top: 1.9592em;
    margin-bottom: 0.3918em;
    font-weight: 600;
}
body>header p {
    font-family: 'Open Sans', sans-serif;
    text-indent: 0;
    margin: 1.5em 0;
    text-align: left;
}
article header h1 {
    font-size: 2.8284em;
    line-height: 1.0606;
    margin-top: 0.415em;
    margin-bottom: 0.5em;
    font-weight: normal;
}
article header p:first-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7072em;
    line-height: 2.121;
    top: 1.5348em;
    position: absolute;
    text-transform: uppercase;
}
article * { text-align: left !important; }
article {
    position: absolute;
    left: 15em;
    background: white;
    padding: 1em;
    min-width: 25em;
    max-width: 33em;
}
article footer {
    display: block;
    height: 6em;
    width: 100%;
    margin: 0 -1em -1em -1em;
    padding: 0 1em;
    background: #efefef;
}
article footer p {
    padding: .7072em 0;
    text-align: center !important;
    font-family: 'Open Sans', sans-serif;
    color: #737373;
}
.post div.highlight {
    padding: 0 1em;
    margin: 0 -1em;
}
.index ul {
    padding: 0;
}
.index ul li {
    margin-left: 0;
    display: inline-block;
    list-style: none;
    overflow: auto;
}
.index ul li time {
    display: block;
    height: 100%;
    width: 7em;
    float: left;
    font-family: 'Anonymous Pro', monospace, serif;
    font-size: .9em;
    line-height: 1.9;
}
body>footer {
    clear: left;
    width: 12em;
    padding: 0 2em 0 1em;
    font-family: 'Lora', serif;
    background-color: #D8004D;
    color: #fff !important;
    font-weight: 300;
}
body>footer p {
    text-indent: 0;
    margin: 1.5em 0;
    text-align: left;
}
a {
    color: #F8686D;
    text-decoration: none;
}
article>:not(footer) a {
    color: #27AD72;
}
body>header h1>a {
    color: black;
}
a:hover {
    color: #7CCDC2 !important;
}
article>:not(footer) a:hover {
    color: #634C3D !important;
}
