/* Normalization from http://git.io/normalize */
@import url(normalize.css);
/* Vertical flow, see http://blog.sigurdhsson.org/posts/I-X/on-web-typesetting.html */
@import url(verticalflow.css);
/* Webfonts */
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Basic font definitions */
html, button, input, select, textarea {
    font-family: 'Lora', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
code, kbd, pre, samp {
    font-family: 'Anonymous Pro', monospace, serif;
}
/* Styling the posts */
body {
    background: #E5E0C3;
    color: #475345;
    padding: 0;
    margin: 0;
    overflow: auto;
}
body>article {
    min-width: 25em;
    max-width: 33em;
    margin: 0 auto;
}
body>article a {
    color: #91815F;
}
body>article a:hover {
    color: #D2392B;
}
body>article h1, body>article h2, body>article h3, body>article h4 {
    color: #D2392B;
}
article.post div.highlight {
    padding: 0 1em;
    margin: 0 -1em;
}
article hr {
    border: 0;
    border-top: 1px solid #475345;
}
.post+.anchor {
    margin-top: 4.5em;
}
/* Styling the anchor stuff */
.anchor {
    padding: 1.5em;
    background: #475345;
    color: #E5E0C3;
}
.anchor a {
    /*color: #91815F;*/
    color: inherit;
}
.anchor a:hover {
    color: #F7BC76;
}
.anchor h1 {
    /*color: #F7BC76;*/
    /* From verticalflow.css, h3 */
    font-size:      1.276em;    /* base + 2/3 stop */
    line-height:    1.1755;
    margin-top:     1.9592em;
    margin-bottom:  0.3918em;
    font-weight:    normal;
}
.anchor nav ul {
    list-style: disc;
}
#posts, .anchor>footer {
    width: 32em;
    margin: 0 auto;
}
#author, #meta {
    width: 15em;
    height: 10.5em;
    display: inline-block;
    margin: 0;
    margin-bottom: .75em;
    padding: 0;
    border-bottom: 1px solid #475345;
    border-top: 1px solid #475345;
}
#author {
    margin-right: 1.8em;
}
#meta {
    position: relative;
    top: -1.35em;
}
/* Styling the header/mast */
body>header>h1 {
    font-size: 16em;
    text-align: center;
    margin-top:     0.140625em;
    margin-bottom:  0.046875em;
}
body>header>h1>a {
    text-decoration: none !important;
    color: #D2392B !important;
}
/* Styling the intentionally blank front page */
.index>p {
    visibility: hidden;
}
/* Restyling some elements */
table, table * {
    border-color: #475345 !important;
}
pre {
    margin: 0.9319em 0;
    padding: 0.9319em 3.7276ex;
}
div.highlight {
    margin: 0 !important;
    padding: 0 !important;
}
img {
    padding: .75em;
    margin: -.75em auto;
    background-color: rgba(71,83,69,0.25);
    max-width: 100%;
}
