<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Blog">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="pGahuZr8DE3gza_tTtomfMxZ4Nbo7Xn6fpKfxyGQDYQ" />
    <!--[if lt IE 9]><script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script><![endif]-->
    <link href="/stylesheets/general.css" rel="stylesheet">
    <link href="/stylesheets/syntax.css" rel="stylesheet">
		<link href="/stylesheets/mjulb.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    {% if id == '/index.html' %}<link rel="alternate" type="application/atom+xml" href="/atom.xml" />{% endif %}
    <link itemprop="url" href="{{ site.url }}">
	<link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}" data-proofer-ignore>
	</head>
	<body class="sweet-hyphens">
    {{ content }}
    <div class="anchor">
      <nav id="posts">
        <h1>Recently</h1>
          <ul>{% for post in site.posts limit:5 %}
            <li>{{ post.linkchat | replace:'<self>',post.url | markdownify }}</li>
          {% endfor %}</ul>
          <p>You can't comment on these articles; if you've got something to say, write a blog post or send me an email. There is also no official archive; articles are rarely interesting for very long and if they are you'd bookmark them anyway. Old posts will stay online and can be browsed through in the <a href="{{ site.github.repository_url }}" data-proofer-ignore>Github repository</a> if you're interested.</p>
      </nav>
      <footer>
        <section itemprop="author" id="author" itemscope itemtype="http://schema.org/Person">
          <h1>The author</h1>
		  <p itemprop="name" id="author-name">Simon Sigurdhsson</p>
          <img itemprop="image" id="profile-pic" src="//www.gravatar.com/avatar/2e225ff5beb684088f5c9131d3979a18.png" alt="Avatar of Simon Sigurdhsson">
          <p>
            You can contact me via <a itemprop="email" rel="author" href="https://mailhide.io/e/LsfEIQfR">email</a>.
            I'm also on a bunch of social networks (including <a itemprop="sameAs" rel="author" href="https://www.reddit.com/user/urdh/">Reddit</a>), and a list of them is available in <a itemprop="sameAs" href="https://sigurdhsson.org/">my hCard</a>. My <a href="https://projects.sigurdhsson.org/">projects</a> on Github include <a href="https://urdh.github.io/dotfiles">dotfiles</a>, <a href="https://github.com/urdh/chs-msc-thesis">chs-msc-thesis</a>, <a href="https://urdh.github.io/skrapport">skrapport</a>, <a href="https://urdh.github.io/skmath">skmath</a> and <a href="https://urdh.github.io/latexbok">latexbok</a>.
          </p>
        </section>
        <section id="meta">
          <h1>Meta</h1>
          <p>
            Also available as an <a rel="alternate" type="application/atom+xml" href="/atom.xml">atom feed</a>.
            All written content is available under the <a itemprop="license" rel="license" href="https://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 license</a>.
          </p>
        </section>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascript/sweet-justice.min.js"></script>
    <script src="/javascript/mjulb.min.js"></script>
    <script>
      $(function() {
        $('article p>img').wrap(function() {
          return '<a href="' + $(this).attr('src') + '"></a>'
        });
        $('article p>a>img').parent().addClass('mjulb-this');
        $('a.mjulb-this').mjulb();
      });
    </script>
  </body>
</html>
