<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">
    <meta name="google-site-verification" content="pGahuZr8DE3gza_tTtomfMxZ4Nbo7Xn6fpKfxyGQDYQ" />
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="/stylesheets/general.css" rel="stylesheet">
    <link href="/stylesheets/syntax.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% if id == '/index.html' %}<link rel="alternate" type="application/atom+xml" href="/atom.xml" />{% endif %}
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html',''}}">
	</head>
	<body class="sweet-hyphens">
    {{ content }}
    <div class="anchor">
      <nav id="posts">
        <h1>Recently</h1>
          <ul>{% for post in site.posts limit:5 %}
            <li>{{ post.linkchat | replace:'<self>',post.url | markdownify }}</li>
          {% endfor %}</ul>
          <p>You can't comment on these articles; if you've got something to say, write a blog post or send me an email. There is also no official archive; articles are rarely interesting for very long and if they are you'd bookmark them anyway. Old posts will stay online and can be browsed through in the <a href="http://github.com/urdh/urdh.github.com/">Github repository</a> if you're interested.</p>
      </nav>
      <footer>
        <section id="author">
          <h1>The author</h1>
          <p>
            You can contact me via <a rel="author" href="http://www.google.com/recaptcha/mailhide/d?k=01AE2kOWqDabQ4PvNe9QuAiw==&amp;c=4o8n3wF8OoZTUvLus64oT-H83jhO0d5JP_qEaGtUN1g=">email</a>.
            I'm also on <a href="http://github.com/urdh/">Github</a>, <a href="http://facebook.com/sigurdhsson/">Facebook</a>, <a href="https://twitter.com/urdh">Twitter</a>, <a rel="author" href="https://plus.google.com/+SimonSigurdhsson?rel=author">Google+</a>, <a href="http://pinboard.in/u:urdh">Pinboard</a>, <a href="http://stackoverflow.com/users/147845/you">Stack Overflow</a> and <a href="http://500px.com/urdh">500px</a>. My projects on Github include <a href="http://urdh.github.com/dotfiles">dotfiles</a>, <a href="http://urdh.github.com/latexhax.html">latexhax</a>, <a href="http://urdh.github.com/latexbok">latexbok</a> and <a href="http://urdh.github.com/streck">streck</a>.
          </p>
        </section>
        <section id="meta">
          <h1>Meta</h1>
          <p>
            Also available as an <a rel="alternate" type="application/atom+xml" href="/atom.xml">atom feed</a>.
            All written content is available under the <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 license</a>.
          </p>
        </section>
      </footer>
    </div>
    <script src="/javascript/sweet-justice.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-7143013-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
