---
layout: default
---
<header class="post-mark">
  <h1><a href="/">★</a></h1>
</header>
<article itemprop="blogPost" class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h1 itemprop="headline">{{ page.title }}</h1>
        <p class="pubdate">Published <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>.</p>
        <link itemprop="url" href="{{ page.url }}">
        <link itemprop="license" href="http://creativecommons.org/licenses/by/3.0/">
	</header>
	{{ content }}
	<footer>
		<ul id="social">
			<li><a id="social-fa" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | replace:'index.html',''}}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-fw fa-facebook fa-3x"></i><span>Share on Facebook</span></a></li>
			<li><a id="social-tw" href="https://twitter.com/share?url={{ site.url }}{{ page.url | replace:'index.html',''}}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-fw fa-twitter fa-3x"></i><span>Share on Twitter</span></a></li>
		</ul>
	</footer>
</article>
