---
layout: default
---
<header class="post-mark">
  <h1><a href="/">★</a></h1>
</header>
<article itemprop="blogPost" class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header>
		<h1 itemprop="headline">{{ page.title }}</h1>
        <p class="pubdate">Published <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_long_string }}</time>.</p>
        <link itemprop="url" href="{{ page.url }}">
        <link itemprop="license" href="https://creativecommons.org/licenses/by/3.0/">
	</header>
	{{ content }}
	<footer>
		<ul id="social">
			<li><a id="social-pb" href="https://pinboard.in/add?url={{ site.url | encode_uri_component }}{{ page.url | replace:'index.html','' | encode_uri_component }}&title={{ page.title | encode_uri_component }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-fw fa-thumb-tack fa-3x"></i><span>Save to Pinboard</span></a></li>
			<li><a id="social-rd" href="https://reddit.com/submit/?url={{ site.url | encode_uri_component }}{{ page.url | replace:'index.html','' | encode_uri_component }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-fw fa-reddit fa-3x"></i><span>Share on Reddit</span></a></li>
			<li><a id="social-hn" href="https://news.ycombinator.com/submitlink?u={{ site.url | encode_uri_component }}{{ page.url | replace:'index.html','' | encode_uri_component }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><i class="fa fa-fw fa-hacker-news fa-3x"></i><span>Share on Hacker News</span></a></li>
		</ul>
	</footer>
</article>
