name: "Check for broken links"

on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build and verify
    container: ruby:3.4
    env:
      BUNDLE_FROZEN: true
      BUNDLE_WITHOUT: development lint
    steps:
      - uses: actions/checkout@v6
      - run: bundle install --frozen
      - run: bundle exec jekyll build
      - run: bundle exec ./validate.rb
