name: "Test & validate"

on:
  pull_request:
    branches: [master]
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    name: Validate & lint
    container: ruby:3.4
    env:
      BUNDLE_FROZEN: true
      BUNDLE_WITHOUT: development
    steps:
      - uses: actions/checkout@v3
      - run: bundle install
      - run: bundle exec rubocop
      - run: bundle exec jekyll build
      - run: bundle exec ./validate.rb --disable-external

  build:
    runs-on: ubuntu-latest
    name: Build containers
    env:
      DOCKER_CACHE: type=registry,ref=ghcr.io/${{ github.repository }}:cache
      PUSH_CACHE: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v6
        with:
          push: false
          cache-from: ${{ env.DOCKER_CACHE }}
          cache-to: ${{ env.PUSH_CACHE == 'true' && format('{0},mode=max', env.DOCKER_CACHE) || '' }}
          target: builder
